<div id="login" class="flex-scrollable" layout="column" ms-scroll>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <!--<div class="logo md-accent-bg">
                <span>F</span>
            </div>-->
            <div class="logo md-white-bg" style="padding-top: 15px; padding-left: 10px; padding-right: 10px">
                <img src="assets/images/logos/docart-box.png"></img>
            </div>

            <div class="title" translate="LOGIN.TITLE">Log in to your account</div>

            <form name="loginForm" novalidate ng-submit="vm.login()">
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"
                           translate translate-attr-placeholder="LOGIN.EMAIL"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span translate="LOGIN.ERRORS.EMAIL_REQUIRED">Email field is required</span>
                        </div>
                        <div ng-message="pattern">
                            <span translate="LOGIN.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Password"
                           translate translate-attr-placeholder="LOGIN.PASSWORD"
                           required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span translate="LOGIN.ERRORS.PASSWORD_REQUIRED">Password field is required</span>
                        </div>
                    </div>
                </md-input-container>

                <div ng-show="vm.loading" layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular class="md-accent md-hue-1" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
                </div>

                <div ng-show="vm.failed" layout="row" layout-align="center center">
                    <span class="h6 red-fg">Authentication failed, please try again!</span>
                </div>
                

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN"
                           ng-disabled="loginForm.$invalid || loginForm.$pristine"
                           translate="LOGIN.LOG_IN" translate-attr-aria-label="LOGIN.LOG_IN">
                    LOG IN
                </md-button>

            </form>

        </div>
    </div>
</div>