.date-picker-row {
    margin-left: -15px;
    margin-top: 15px;
    position: relative;
    min-height: 60px;
}

.date-picker-row label {
    position: absolute;
    top: -10px;
    left: 50px;
    color: rgba(0, 0, 0, 0.541176);
    font-size: 12px;
}

.date-picker-row .md-datepicker-input-container {
    margin-left: 0;
}

sup { 
    vertical-align: super;
    font-size: smaller;
}