<div id="dashboard" class="page-layout simple fullwidth doc-page">

    <!-- HEADER -->
    <!--
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Welcome to DoCart</div>
        </div>
    </div> -->
    <!-- / HEADER -->
    

    <!-- CONTENT -->
    <div class="content">

        <p class="h3 m-16">
            Welcome to DoCart dashboard, here you can find summary informations of your store.
        </p>


        <!-- FIRST GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- Order widget -->
            <ms-widget class="h-300" layout="column" flex="100" flex-gt-md="50">

                <!-- Front -->
                <ms-widget-front class="p-16 green-bg white-fg" layout="row" flex ui-sref="app.orders">
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 pb-8">{{vm.orderCount}}</div>
                        <div class="h3 font-weight-500">Orders</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-cart" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / ORDER WIDGET 11 -->

            <!-- PRODUCT COUNT -->
            <ms-widget class="h-300" layout="column" flex="100" flex-gt-md="50">

                <!-- Front -->
                <ms-widget-front class="p-16 teal-bg white-fg" layout="row" flex ui-sref="app.products">
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 pb-8">{{vm.productCount}}</div>
                        <div class="h3 font-weight-500">Products</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-basket" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / PRODUCT COUNT -->

        </div>
        <!-- / WIDGET GROUP -->

        <!-- SECOND GROUP -->
        <div class="widget-group" layout="row" flex="100" layout-wrap>

            <!-- SUPPLIER RANK -->
            <ms-widget class="h-300" layout="column" flex="100" flex-gt-md="100" ng-if="vm.Auth.isSupplier()">

                <!-- Front -->
                <ms-widget-front class="p-16 light-blue-bg white-fg" layout="row" flex ui-sref="app.products">
                    <div layout="column" layout-align="center center" flex>
                        <div class="h3 font-weight-500">Your rank today is</div>
                        <div class="md-display-3 pb-8">{{vm.supplierRank}}</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-crown" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- SUPPLIER RANK -->

        </div>
        <!-- / SECOND GROUP -->


        <!-- / WIDGET GROUP ROW 2 -->
        <div class="widget-group" layout="row" flex="100" layout-wrap ng-if="vm.Auth.isAdmin()">
            
            <!-- CUSTOMER COUNT -->
            <ms-widget class="h-300" layout="column" flex="100" flex-gt-xs="50"
                       flex-gt-md="25">

                <!-- Front -->
                <ms-widget-front class="p-16 deep-orange-bg white-fg" layout="row" flex>
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 pb-8">{{vm.customerCount}}</div>
                        <div class="h3 font-weight-500">Customers</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-account-multiple" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / CUSTOMER COUNT -->

            <!-- SUPPLIER COUNT -->
            <ms-widget class="h-300" layout="column" flex="100" flex-gt-xs="50"
                       flex-gt-md="25">

                <!-- Front -->
                <ms-widget-front class="p-16 cyan-bg white-fg" layout="row" flex>
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 pb-8">{{vm.supplierCount}}</div>
                        <div class="h3 font-weight-500">Suppliers</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-truck" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / SUPPLIER COUNT -->

            <!-- CATEGORIES WIDGET -->
            <ms-widget class="h-300" layout="column" flex="100" flex-gt-md="50">

                <!-- Front -->
                <ms-widget-front class="p-16 deep-purple-bg white-fg" layout="row" flex ui-sref="app.categories">
                    <div layout="column" layout-align="center center" flex>
                        <div class="md-display-3 pb-8">{{vm.categoryCount}}</div>
                        <div class="h3 font-weight-500">Categories</div>
                    </div>

                    <div class="background-image-center">
                        <md-icon md-font-icon="icon-tag-multiple" class="s256 faint-text"></md-icon>
                    </div>
                </ms-widget-front>
                <!-- / Front -->

            </ms-widget>
            <!-- / CATEGORIES WIDGET -->

        </div>
        <!-- / WIDGET GROUP ROW 2 -->

    </div>
    <!-- / CONTENT -->

</div>