<div class="pagination" ng-if="pages.length >= 2">
    <ul class="pagination">

        <li>
            <a ng-click="selectPage(1)" aria-label="First" >
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li>
            <a ng-click="selectPage(currentPage-1)" aria-label="Previous" >
                <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
            </a>
        </li>

        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}"><a ng-click="selectPage(page)">{{page}}</a></li>

        <li>
            <a ng-click="selectPage(currentPage+1)" aria-label="Next" >
                <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
            </a>
        </li>
        <li>
            <a href="" ng-click="selectPage(numPages)" aria-label="Last" >
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul>
</div>