<div id="e-commerce" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-products-button md-icon-button" aria-label="Go to products" ng-click="vm.goBack()" translate translate-attr-aria-label="EC.GO_TO_PRODUCTS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.productTitle}}
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button class="md-raised md-background" ng-click="vm.saveData()" ng-disabled="(dataForm.$invalid || dataForm.$pristine) || (dataForm3.$invalid || dataForm3.$pristine)">
                <span translate="EC.SAVE">SAVE</span>
            </md-button>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.BASIC_INFO">Basic Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="detail-form-container md-background-bg md-whiteframe-1dp">
                        <form name="dataForm">
                            <md-input-container class="md-block">
                                <label translate="EC.PRODUCT_NAME">Product Name</label>
                                <input type="text" ng-model="vm.data.name" name="name" required md-autofocus>
                                <div ng-messages="dataForm.name.$error" ng-show="dataForm.name.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <h3 class="secondary-text" translate="EC.PRODUCT_DESCRIPTION">Product Description</h3>
                            <text-angular ta-toolbar="vm.taToolbar" ng-model="vm.product.description" class="pb-32"></text-angular>
                            <!--<md-input-container class="md-block">
                                <label translate="EC.PRODUCT_DESCRIPTION">Product Description</label>

                                <input type="description" ng-model="vm.data.description" name="description" required>

                                <div ng-messages="dataForm.description.$error" ng-show="dataForm.description.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>-->

                            <md-input-container class="md-block">
                                <label translate="EC.CATEGORIES">Categories</label>
                                <md-select ng-model="vm.product.categories"
                                           md-on-open="vm.onCategoriesSelectorOpen()"
                                           md-on-close="vm.onCategoriesSelectorClose()" multiple>
                                    <md-select-header>
                                        <input type="search" class="md-text"
                                               ng-model="vm.categoriesSelectFilter" placeholder="Search for a category">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="category"
                                                   ng-repeat="category in vm.product.categories | filter:vm.categoriesSelectFilter">
                                            {{category}}
                                        </md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>

                            <!--<md-input-container class="md-block">
                                <label translate="EC.CATEGORIES">Categories</label>
                                <input type="text" ng-model="vm.data.categories" name="categories" required>
                                <div ng-messages="dataForm.categories.$error" ng-show="dataForm.categories.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>-->

                            <md-input-container class="md-block">
                                <label translate="EC.TAGS">Tags</label>
                                <input type="text" ng-model="vm.data.tags" name="tags">
                                <div ng-messages="dataForm.tags.$error" ng-show="dataForm.tags.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <div layout="row" layout-align="start center" style="padding: 0px 15px 10px 5px">

                                <label translate="EC.PUBLISHED">Published</label>
                                <md-switch style="padding: 15px" ng-model="vm.data.published" aria-label="Published" translate translate-attr-aria-label="EC.DIALOG.ACTIVE"></md-switch>

                                <label translate="EC.FEATURED">Featured</label>
                                <md-switch style="padding: 15px" ng-model="vm.data.featured" aria-label="Featured" translate translate-attr-aria-label="EC.FEATURED"></md-switch>
                                
                            </div>
                            <div layout="row" layout-align="start center" style="padding: 0px 15px 10px 5px">
                            </div>

                        </form>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.PRODUCT_IMAGES">Product Images</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="detail-form-container md-background-bg md-whiteframe-1dp">
                        <div id="image-uploader" flow-init="vm.ngFlowOptions" flow-name="vm.ngFlow.flow" flow-files-submitted="vm.upload()"
                            flow-file-added="vm.fileAdded($file)" flow-file-success="vm.fileSuccess($file, $message)" flow-complete="vm.uploadComplete()"
                            flow-drop flow-drag-enter="vm.dropping=true" flow-drag-leave="vm.dropping=false" ng-class="{'dropping':vm.dropping}">

                            <div class="drop-text hint-text" layout="row" layout-align="center center">
                                <span translate="EC.DROP_TO_UPLOAD">Drop to upload</span>
                            </div>

                            <div class="upload-button" layout="column" layout-align="center center">
                                <md-button class="md-accent md-raised" flow-btn>
                                    Upload
                                </md-button>
                                <span class="secondary-text mt-8">You can also drop images here to upload. Only PNG, JPG - Max. 8MB</span>
                            </div>

                            <div layout="row" layout-align="start start" layout-wrap>
                                <div ng-repeat="image in vm.product.images" ng-switch="image.type">
                                    <div class="product-image uploading" ng-switch-when="uploading" layout="row" layout-align="center center">
                                        <div class="overlay" layout="column" layout-align="center center">
                                            <md-progress-linear md-mode="determinate" value="{{image.file.progress() * 100}}">
                                            </md-progress-linear>
                                        </div>
                                        <img class="media" flow-img="image.file">
                                    </div>

                                    <div class="product-image" ng-switch-when="image" layout="row" layout-align="center center">
                                        <img class="media" ng-src="{{image.url}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>

            <md-tab>
                <md-tab-label>
                    <span translate="EC.PRICE_INVENTORY">Inventory</span>
                </md-tab-label>

                <md-tab-body>
                    <div class="detail-form-container md-background-bg md-whiteframe-1dp">
                        <form name="dataForm3">
                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.PRICE">Price</label>
                                <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                                <input type="number" name="price" step="100" ng-model="vm.data.price" required>
                                <div ng-messages="dataForm3.price.$error" ng-show="dataForm3.price.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.STOCK_QUANTITY">Stock Quantity</label>
                                <input type="number" step="1" name="stock" ng-model="vm.data.stock" required>
                                <div ng-messages="dataForm3.stock.$error" ng-show="dataForm3.stock.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            
                        </form>
                    </div>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>