<form name="dataForm">
    <div id="e-commerce" class="page-layout simple tabbed" layout="column">

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="start center">
            <div class="white-fg" layout="row" layout-align="start center" flex>
                <md-button class="goto-products-button md-icon-button" aria-label="Go to products" ng-click="vm.goBack()" translate translate-attr-aria-label="EC.GO_TO_PRODUCTS">
                    <md-icon md-font-icon="icon-arrow-left"></md-icon>
                </md-button>

                <div layout="row" layout-align="start center">
                    <div layout="column" layout-align="start start">
                        <div class="h2">
                            {{vm.productTitle}}
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <md-button class="md-raised md-background" ng-click="vm.saveData()" ng-disabled="!vm.productId && ((dataForm.$invalid || dataForm.$pristine) || (dataForm3.$invalid || dataForm3.$pristine))">
                    <span translate="EC.SAVE">SAVE</span>
                </md-button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab>
                    <md-tab-label>
                        <span translate="EC.BASIC_INFO">Basic Info</span>
                    </md-tab-label>

                    <md-tab-body>
                        <div class="detail-form-container md-background-bg md-whiteframe-1dp">

                            <md-input-container class="md-block">
                                <label translate="EC.PRODUCT_NAME">Product Name</label>
                                <input type="text" ng-model="vm.data.name" name="name" required md-autofocus>
                                <div ng-messages="dataForm.name.$error" ng-show="dataForm.name.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <h3 class="secondary-text" translate="EC.PRODUCT_DESCRIPTION">Product Description</h3>
                            <text-angular ta-toolbar="vm.taToolbar" ng-model="vm.data.description" class="pb-32"></text-angular>

                            <md-input-container class="md-block">
                                <label translate="EC.CATEGORIES">Categories</label>
                                <md-select ng-model="vm.data.categories" ng-model-options="{trackBy: '$value._id'}" md-on-open="vm.onCategoriesSelectorOpen()"
                                    md-on-close="vm.onCategoriesSelectorClose()" multiple>
                                    <md-select-header>
                                        <input type="search" class="md-text" ng-model="vm.categoriesSelectFilter" placeholder="Search for a category">
                                    </md-select-header>
                                    <md-optgroup>
                                        <md-option ng-value="category" ng-repeat="category in vm.categories | filter: {name: vm.categoriesSelectFilter}">
                                            {{category.parent ? 'M: ' + category.name : 'S: ' + category.name}}
                                        </md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>

                            <h3 class="tags secondary-text" translate="EC.TAGS">Tags</h3>
                            <md-chips ng-model="vm.data.tags" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag"
                                secondary-placeholder="+Tag">
                            </md-chips>

                            <div layout="row" layout-align="start center" style="padding: 0px 15px 10px 5px">

                                <label translate="EC.PUBLISHED">Published</label>
                                <md-switch style="padding: 15px" ng-model="vm.data.published" aria-label="Published" translate translate-attr-aria-label="EC.DIALOG.ACTIVE"></md-switch>

                                <label translate="EC.FEATURED" ng-if="vm.Auth.isAdmin()">Featured</label>
                                <md-switch style="padding: 15px" ng-if="vm.Auth.isAdmin()" ng-model="vm.data.featured" aria-label="Featured" translate translate-attr-aria-label="EC.FEATURED"></md-switch>

                            </div>
                            <div layout="row" layout-align="start center" style="padding: 0px 15px 10px 5px">
                            </div>


                        </div>
                    </md-tab-body>
                </md-tab>

                <!-- /////// PRICE AND INVENTORY //// -->
                <md-tab>
                    <md-tab-label>
                        <span translate="EC.PRICE_INVENTORY">Price &amp; Inventory</span>
                    </md-tab-label>

                    <md-tab-body>
                        <div class="detail-form-container md-background-bg md-whiteframe-1dp">

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.RANK">Rank</label>
                                <input type="number" step="1" min="0" name="rank" ng-model="vm.data.rank" ng-init="vm.data.rank = 0">
                            </md-input-container>

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.PRICE">Price</label>
                                <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                                <input type="number" name="price" min="0" step="100" ng-model="vm.data.price" required>
                                <div ng-messages="dataForm3.price.$error" ng-show="dataForm3.price.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.DISCOUNT">Discount</label>
                                <md-icon md-font-icon="icon icon-percent"></md-icon>
                                <input type="number" name="discount" min="0" step="1" ng-init="vm.data.discount = 0" ng-model="vm.data.discount" required>
                                <div ng-messages="dataForm3.discount.$error" ng-show="dataForm3.discount.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.FINAL_PRICE">Final Price</label>
                                <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                                <input type="number" name="finalPrice" min="0" step="1" ng-model="vm.data.finalPrice" required>
                                <div ng-messages="dataForm3.finalPrice.$error" ng-show="dataForm3.finalPrice.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <!--<md-input-container class="md-block md-icon-float">
                                <label translate="EC.UNIT">Stock Unit</label>
                                <input type="text" name="unit" ng-model="vm.data.unit" required>
                                <div ng-messages="dataForm3.unit.$error" ng-show="dataForm3.unit.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>-->

                            <md-input-container class="md-block">
                                <label translate="EC.UNIT">Stock Unit</label>
                                <md-select ng-model="vm.data.unit" required>
                                    <md-option ng-repeat="unit in vm.productUnits" ng-value="unit">
                                    {{unit}}
                                    </md-option>
                                    <div ng-messages="dataForm3.unit.$error" ng-show="dataForm3.unit.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                                </md-select>
                                
                            </md-input-container>

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.STOCK_QUANTITY">Stock Quantity</label>
                                <input type="number" step="1" name="stock" ng-model="vm.data.stock" required>
                                <div ng-messages="dataForm3.stock.$error" ng-show="dataForm3.stock.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            
                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.MINIMUM_ORDER">Minimum Order</label>
                                <input type="number" step="1" name="minOrder" ng-model="vm.data.minOrder" ng-init="vm.data.minOrder = 1" required>
                                <div ng-messages="dataForm3.minOrder.$error" ng-show="dataForm3.minOrder.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            
                        </div>
                    </md-tab-body>
                </md-tab>

                <!-- /////// PRODUCT IMAGES //// -->
                <md-tab>
                    <md-tab-label>
                        <span translate="EC.PRODUCT_IMAGES">Product Image</span>
                    </md-tab-label>

                    <md-tab-body>
                        <div class="detail-form-container md-background-bg md-whiteframe-1dp">

                            <div ngf-drop ngf-select ng-model="vm.data.image" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="false"
                                ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'">

                                <div class="upload-button" layout="column" layout-align="center center">
                                    <md-button class="md-accent md-raised" ngf-select ng-model="vm.data.image" ngf-multiple="false">
                                        Upload
                                    </md-button>
                                    <span class="secondary-text mt-8">You can also drop image here to upload. Only PNG, JPG - Max. 8MB</span>
                                </div>
                                <div layout="row" layout-align="start start" layout-wrap>
                                    <!--<img class="media" ngf-src="vm.product.images">-->
                                    <img class="media" ngf-src="vm.data.image">
                                    <div class="product-image" layout="row" layout-align="center center">

                                    </div>
                                </div>
                            </div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                        </div>
                    </md-tab-body>
                </md-tab>


            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
</form>