<form name="dataForm">
    <div id="e-commerce" class="page-layout simple tabbed" layout="column">

        <!-- HEADER -->
        <div class="header md-accent-bg" layout="row" layout-align="start center">
            <div class="white-fg" layout="row" layout-align="start center" flex>
                <md-button class="goto-products-button md-icon-button" aria-label="Go to products" ng-click="vm.goBack()" translate translate-attr-aria-label="EC.GO_TO_PRODUCTS">
                    <md-icon md-font-icon="icon-arrow-left"></md-icon>
                </md-button>

                <div layout="row" layout-align="start center">
                    <div layout="column" layout-align="start start">
                        <div class="h2">
                            {{vm.productTitle}}
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <md-button class="md-raised md-background" ng-click="vm.saveData()" ng-disabled="(dataForm.$invalid || dataForm.$pristine)">
                    <span translate="EC.SAVE">SAVE</span>
                </md-button>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <md-tabs md-dynamic-height>

                <md-tab>
                    <md-tab-label>
                        <span translate="EC.BASIC_INFO">Basic Info</span>
                    </md-tab-label>

                    <md-tab-body>
                        <div class="detail-form-container md-background-bg md-whiteframe-1dp">

                            <!-- PRODUCT NAME -->
                            <md-input-container class="md-block">
                                <label translate="EC.PRODUCT_NAME">Product Name</label>
                                <input type="text" ng-model="vm.data.name" name="name" required md-autofocus>
                                <div ng-messages="dataForm.name.$error" ng-show="dataForm.name.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <!-- PRODUCT NAME -->

                            <!-- DESCRIPTION -->
                            <h3 class="secondary-text" translate="EC.PRODUCT_DESCRIPTION">Product Description</h3>
                            <text-angular ta-toolbar="vm.taToolbar" ng-model="vm.data.description" class="pb-32"></text-angular>
                            <!-- DESCRIPTION -->

                            <!-- MAIN CATEGORIES -->
                            <md-input-container class="md-block">
                                <label translate="EC.MAIN_CATEGORIES">Main Categories</label>
                                <md-select ng-model="vm.subCategories" >
                                    <md-option ng-repeat="mc in vm.mainCategories" ng-value="mc.children" >
                                    {{mc.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <!-- MAIN CATEGORIES -->
                            
                            <!-- SUB CATEGORIES -->
                            <md-input-container class="md-block">
                                <label translate="EC.SUB_CATEGORIES">Sub Categories</label>
                                <md-select ng-model="vm.data.category" name="subCategories" required>
                                    <md-option ng-repeat="sc in vm.subCategories" ng-value="sc._id">
                                    {{sc.name}}
                                    </md-option>
                                </md-select>
                                <div class="errors" ng-messages="dataForm.subCategories.$error" ng-show="dataForm.subCategories.$touched">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            <!-- SUB CATEGORIES -->
                            
                            <!-- TAGS -->
                            <h3 class="tags secondary-text" translate="EC.TAGS">Tags</h3>
                            <md-chips ng-model="vm.data.tags" placeholder="Enter a tag" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag"
                                secondary-placeholder="+Tag">
                            </md-chips>
                            <!-- TAGS -->

                            <!-- PUBLISHED & FEATURED -->
                            <div layout="row" layout-align="start center" style="padding: 0px 15px 10px 5px">

                                <label translate="EC.PUBLISHED">Published</label>
                                <md-switch style="padding: 15px" ng-model="vm.data.published" aria-label="Published" translate translate-attr-aria-label="EC.DIALOG.ACTIVE"></md-switch>

                                <label translate="EC.FEATURED" ng-if="vm.Auth.isAdmin()">Featured</label>
                                <md-switch style="padding: 15px" ng-if="vm.Auth.isAdmin()" ng-model="vm.data.featured" aria-label="Featured" translate translate-attr-aria-label="EC.FEATURED"></md-switch>
                            </div>
                            <!-- PUBLISHED & FEATURED -->

                        </div>
                    </md-tab-body>
                </md-tab>

                <!-- /////// PRICE AND INVENTORY //// -->
                <md-tab>
                    <md-tab-label>
                        <span translate="EC.PRICE_INVENTORY">Price &amp; Inventory</span>
                    </md-tab-label>

                    <md-tab-body>
                        <div class="detail-form-container md-background-bg md-whiteframe-1dp">

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.RANK">Rank</label>
                                <input type="number" step="1" min="0" name="rank" ng-model="vm.data.rank" ng-init="vm.data.rank = 0">
                            </md-input-container>

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.PRICE">Price</label>
                                <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                                <input type="number" name="price" min="0" step="100" ng-model="vm.data.price" required>
                                <div ng-messages="dataForm.price.$error" ng-show="dataForm.price.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.DISCOUNT">Discount</label>
                                <md-icon md-font-icon="icon icon-percent"></md-icon>
                                <input type="number" name="discount" min="0" step="1" ng-init="vm.data.discount = 0" ng-model="vm.data.discount" required>
                                <div ng-messages="dataForm.discount.$error" ng-show="dataForm.discount.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.FINAL_PRICE">Final Price</label>
                                <md-icon md-font-icon="icon icon-currency-usd"></md-icon>
                                <input type="number" name="finalPrice" min="0" step="1" ng-model="vm.data.finalPrice" required>
                                <div ng-messages="dataForm.finalPrice.$error" ng-show="dataForm.finalPrice.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label translate="EC.UNIT">Stock Unit</label>
                                <md-select ng-model="vm.data.unit" required>
                                    <md-option ng-repeat="unit in vm.productUnits" ng-value="unit">
                                    {{unit}}
                                    </md-option>
                                    <div ng-messages="dataForm.unit.$error" ng-show="dataForm.unit.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.STOCK_QUANTITY">Stock Quantity</label>
                                <input type="number" step="1" name="stock" ng-model="vm.data.stock" required>
                                <div ng-messages="dataForm.stock.$error" ng-show="dataForm.stock.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            
                            <md-input-container class="md-block md-icon-float">
                                <label translate="EC.MINIMUM_ORDER">Minimum Order</label>
                                <input type="number" step="1" name="minOrder" ng-model="vm.data.minOrder" ng-init="vm.data.minOrder = 1" required>
                                <div ng-messages="dataForm.minOrder.$error" ng-show="dataForm.minOrder.$touched" role="alert">
                                    <div ng-message="required">
                                        <span translate="EC.ERRORS.REQUIRED">Required</span>
                                    </div>
                                </div>
                            </md-input-container>
                            
                        </div>
                    </md-tab-body>
                </md-tab>

                <!-- /////// PRODUCT IMAGES //// -->
                <md-tab>
                    <md-tab-label>
                        <span translate="EC.PRODUCT_IMAGES">Product Images</span>
                    </md-tab-label>

                    <md-tab-body>
                        <div class="detail-form-container md-background-bg md-whiteframe-1dp" ng-if="vm.productId">
                            <div layout="column" layout-align="start start" layout-wrap>
                                <div>
                                    <span class="secondary-text mt-8">Current Images</span>
                                </div>
                                <div layout="row" layout-align="center start">
                                    <div class="product-image" style="position: relative" layout="column" layout-align="center center" ng-repeat="img in vm.data.imageUrls">
                                        <img class="media" style="width: 150px; height: 150px; padding: 5px; margin-right: 10px" ngf-src="img">
                                        
                                        <md-button ng-click="vm.setDefaultImage(img)" class="md-raised" ng-disabled="img === vm.data.imageUrl">{{img === vm.data.imageUrl ? "Default" : "Set Default"}}</md-button>
                                         
                                        <md-button class="md-fab md-red-400-bg md-xs md-close">
                                            <md-icon md-font-icon="icon-close" aria-label="close" ng-click="vm.deleteImage(img, $index)"></md-icon>
                                        </md-button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail-form-container md-background-bg md-whiteframe-1dp">

                            <div ngf-drop ngf-select ng-model="vm.data.images" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'">

                                <div class="upload-button" layout="column" layout-align="center center">
                                    <md-button class="md-accent md-raised" ngf-select ng-model="vm.data.images" ngf-multiple="true">
                                        Uploads
                                    </md-button>
                                    <span class="secondary-text mt-8">You can also drop images here to upload. Only PNG, JPG - Max. 8MB</span>
                                </div>
                                <div layout="row" layout-align="start start" layout-wrap>
                                    <div class="product-image" layout="row" layout-align="center center" ng-repeat="img in vm.data.images">
                                        <img class="media" style="width: 150px; height: auto; padding: 5px;" ngf-src="img">
                                    </div>
                                </div>
                            </div>
                            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                        </div>
                    </md-tab-body>
                </md-tab>


            </md-tabs>

        </div>
        <!-- / CONTENT -->

    </div>
</form>