<html>

<head>
    <meta charset='utf-8'></meta>
    <style>
        body {
            font-family: "Titallium Web", sans-serif, arial;
            font-size: 16px;
            color: #000;
        }
    </style>

    <body>
        <br> User <strong> <%= fullname %> </strong>
        <br>
        <br> Telah melakukan pembelian dengan rincian :<br>
        <br>
        <% for (var i=0; i < carts.length; i++) { var cart = carts[i]%>
        <div>
            <span>
                Supplier: <strong><%= cart.supplier.name %></strong><br>
                Order ID: <strong><%= cart.orderId %></strong>
            </span>
            <br>
            <span>Delivery cost: <strong>IDR <%= cart.logistic ? cart.logistic : 0 %></strong></span>
            <hr>
            <table>
                <tr>
                    <td width="50"><strong>No.</strong></td>
                    <td width="400"><strong>Name Produk</strong></td>
                    <td width="50"><strong>Qty</strong></td>
                    <td width="150"><strong>Total Harga</strong></td>
                </tr>
                <% for (var j=0; j < cart.products.length; j++) { var product = cart.products[j]%>
                    <tr>
                        <td width="50"><%= j+1 %></td>
                        <td width="400"><%= product.product.name %></td>
                        <td width="50"><%= product.count %></td>
                        <td width="150">IDR <%= product.totalPrice %></td>
                    </tr>
                <% } %>
            </table>
        </div><br><br>
        <% } %>
        <br>
        <br>
        <span>
            Rincian total yang harus Anda bayarkan adalah:
            <br>
            <strong>IDR <%= total %></strong>
            <br>
            Transfer ID: <strong> <%= total $> </strong>
            <br> 
        </span>

        <br>
        <br><br>
    </body>

</html>