<div id="register-success" class="flex-scrollable" layout="column" ms-scroll>
    <div id="register-success-form-wrapper" layout="column" layout-align="center center">
        <div id="register-success-form" class="md-whiteframe-8dp">
            <div class="top">
                <div class="logo white-bg" style="padding-top: 15px; padding-left: 10px; padding-right: 10px">
                    <img src="assets/images/logos/docart-box.png"></img>
                </div>

                <div class="title" translate="ACTIVATION.TITLE">Hey! Thank you for registering on do-cart!.</div>
                <div class="subtitle" ng-if="!vm.loading">{{vm.description}}
                </div>
                <div class="subtitle" translate="ACTIVATION.VERIFY" ng-if="vm.loading">Verifying your user account, please wait a moment.. 
                </div>

            </div>

            <form>
                <md-button class="md-raised md-accent" aria-label="CONTINUE" translate="ACTIVATION.CONTINUE"
                           translate-attr-aria-label="ACTIVATION.CONTINUE" ng-click="vm.continueActivation()">
                    CONTINUE
                </md-button>
            </form>
        </div>
    </div>
</div>