md-dialog {

    &.event-form-dialog {
        max-width: 720px;
        width: 720px;

        md-dialog-content {
            display: block;
            position: relative;

            .upload {
                margin: 0 0 0 5px;
                background: none;
                font-size: 14px;
                line-height: 40px;
                height: 40px;
                border-bottom: 1px material-color('light-blue') solid;
                transition: border-color 300ms ease;

                &:focus {
                    border-color: #03A9F4;
                }

                &::-webkit-input-placeholder {
                    color: rgba(10, 10, 10, 0.5);
                }
            }
        }

        form {
            overflow: hidden;

            md-toolbar {

                .title {
                    font-size: 17px;
                }
            }
        }

        md-dialog-actions {
            position: relative;
            overflow-y: hidden;
            overflow-x: auto;
            justify-content: space-between;
            border-top: 1px solid rgba(0, 0, 0, 0.12);
            background-color: rgba(0, 0, 0, 0.03);
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    md-dialog {

        &.event-form-dialog {
            width: 80%;
        }
    }
}

@media screen and (max-width: $layout-breakpoint-xs) {

    md-dialog {

        &.event-form-dialog {
            width: 90%;
        }
    }
}